body, html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
}

h1, h2, h3, a, .btn {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;

    &:hover {
        color: #6C9BFF;
        border-color: #6C9BFF;
    }

}

input {
    border-radius: 5px;
    border: 1px solid grey
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn {
    padding: 12px ;
    text-align: center;
    -webkit-appearance: none; 

    &--blue {
        background-color: #2F65F8;
        color: white;
        font-weight: 700;
        font-size: 14px;
    }

    &:hover {
        background-color: #6C9BFF;
        cursor: pointer;
    }
}

input[type="email"] {
    padding: 14px 181px 12px 21px;

    &::placeholder {
        color: #C2C2C2;
    }
}

// Nav - Mobile
nav {
    .navbar {
        margin: 24px 24px 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            width: 25%;
            max-width: 166px;
        }

        &__links {
            list-style: none;
            display: flex;
            padding: 0;
        }

        &__item {
            margin-left: 24px;
            font-size: 0.75rem;
            line-height: 14.09px;
        }
    }
}

// Main - Mobile
#hero {
    margin: 0 28px 90px 28px; 

    img {
        width: 95%;
        margin-bottom: 40px;
    }

    &__heading {
        font-size: 1.5rem;
        line-height: 36px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &__p {
        line-height: 21px;
        margin-bottom: 32px;
        color: #07043B;
    }

    form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
    }
}

.bg-curve {
    object-fit: cover;
    width: 100vw;
    position: relative;
    top: 5px;
}

// Section-1 - Mobile
.section-1 {
    background-color: #F8F8FE;
    padding-bottom: 81px;

    &__illustration {
        width: 87%;
        // max-width: 542px;
        margin-bottom: 87px;
    }

    &__heading {
        font-size: 1rem;
        line-height: 24px;
        margin-bottom: 24px;
    }

    &__p {
        color: #615F7E;
        margin: 16px 20px;
    }

    &__link {
        color: #3DA08F;
        padding: 0 0 6px;
        border-bottom: 1px solid #3DA08F;

        img {
            position: relative;
            top: 3px;
        }
    }

    &__testimonial {
        background-color: #fff;
        margin: 40px auto;
        width: 75%;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgb(216, 211, 211);
        text-align: left;
        padding: 25px 18px 20px 26px;
        
        p {
            margin: 8px 0 12px;
            letter-spacing: 0.38px;
        }

        .section-1__user {
            display: grid;
            width: 37.5%;
            max-width: 137px;
            grid-template-columns: 1fr 4fr;
            column-gap: 0.5rem;
            align-items: center;

            .section-1__person {
                width: 1.5rem;
                border-radius: 50%;
                grid-row: 1 / 3;
                }

            .section-1__name {
                font-size: 0.5625rem;
                font-weight: 700;
                line-height: 12.26px;
                letter-spacing: 0.45px;
            }

            .section-1__profission {
                font-size: 0.375rem;
                line-height: 11.8px;
                letter-spacing: 0.3px;
            }
        }
    }
}

// Section-2 - Mobile
.section-2 {
    background-color: #575988;
    padding: 54px 50px 81px;
    color: #fff;

    &__heading {
        font-size: 18px;
        line-height: 24px;
    }

    &__p {
        line-height: 21px;
        margin: 16px 0 24px;
    }

    form {
        input[type="email"] {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 8px;
            
        }

        .btn {
            width: 100%;
            border: none;
        }
    }
}

// Footer - Mobile
footer {
    background-color: #07043B;
    text-align: left;
    padding: 65px 40px 42px;
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // row-gap: 10px;

    a {
        color: #FFF;

    }

    .logo {
        filter: brightness(0) invert(1);
        width: 42%;
        max-width: 135px;
        margin-bottom: 32px;
        // grid-column: 1 / -1;
    }

    .icons {
        width: 222px;
        margin-bottom: 32px;

        div {
            display: flex;
            margin-bottom: 16px;
        }

        img {
            margin-right: 16px;
            width: 18px;
            box-sizing: border-box;
        }
    }

    .links {
        
        &__link-1, &__link-2 {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            a {
                margin-bottom: 16px;
            }
        }
    }

    .social-media {
        text-align: center;
        width: 36%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;

        a {
            border: 1px solid #FFF;
            border-radius: 50%;

            i {
                padding: 6px;
                width: 14px;
            }

            &:hover, i:hover {
                color: #6C9BFF;
            }
        }
    }
}

// Tablet
@media screen and (min-width: 768px) {
    nav {
        .navbar {
            margin: 6.5% 6.5% 90px;
        }
    }

    #hero {
        margin-left: 6.5%;
        margin-right: 6.5%;

        img {
            max-width: 450px;
        }
    }

    .section-1 {
        &__illustration {
            max-width: 450px;
        }

        &__heading, &__p {
            margin-left: 6.5%;
            margin-right: 6.5%;
        }

        &__testimonial {
            max-width: 500px;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;

        .logo {
            grid-column: 1 / -1;
        }

        .links {
            display: flex;
            justify-content: space-evenly;
            text-align: center;
        }

        .social-media {
            margin: 0;
            justify-content: space-evenly;
            align-self: flex-start;
            width: 100%;
        }
    }
}

// Laptop
@media screen and (min-width: 1024px) {
    body {
        text-align: left;
    }

    nav {
        .navbar {
            margin: 65px 80px 86px;

            &__item {
                font-size: 1rem;
            }
        }
    }

    // Hero - Laptop
    #hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 80px 90px;

        img {
            max-width: 50%;
            margin: 0;
        }

        &__content {
            width: 45%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn {
                width: 70%;
                margin: 0 auto;
            }
        }
    }

    .bg-curve {
        content: url(images/bg-curve-desktop.svg);
    }

    // Section-1 - Laptop
    .section-1 {
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        grid-template-rows: auto;
        padding-left: 80px;
        align-items: center;
        column-gap: 30px;
        row-gap: 10px;

        &__illustration {
            grid-column: 2 / -1;
            grid-row: 1 / 6;
            margin: 0;
            max-width: none;
        }

        &__heading, &__link, &__testimonial {
            grid-column: 1 / 2;
            grid-row: span 1;
            align-items: center;
        }

        &__heading {
            grid-row: 1 / 2;
            font-size: 2.0rem;
            margin-left: 0;
        }

        &__link {
            width: 148px;
        }

        &__p {
            margin: 0;
        }

        &__testimonial {
            width: 356px;
            box-sizing: border-box;
            height: 215px;
            margin: 0;
            margin-top: 20px;
        }
    }

    // Section-2 - Laptop
    .section-2 {
        display: grid;
        padding: 54px 80px;
        grid-template-columns: 1fr 1fr;
        column-gap: 120px;

        &__heading, &__p {
            grid-column: 1 / 2
        }

        &__heading {
            font-size: 2rem;
        }

        &__p {
            font-size: 1rem;            
        }

        form {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;

            input[type="email"] {
                margin-bottom: 20px;
            }

            .btn {
                width: 50%;
            }
        }
    }

    // Footer - Laptop
    footer {
        padding-left: 80px;
        padding-right: 80px; 

        .social-media {
            a {
                &:hover {
                    color: #6C9BFF;
                    border-color: #6C9BFF;
                }
            
            }
        }
    }
}

// Desktop
@media screen and (min-width: 1440px) {
    // Nav - Desktop
    nav {
        .navbar {
            margin-left: 5.5%;
            margin-right: 5.5%;
            &__links {
                width: 300px;
                justify-content: space-between;
            }
        }
    }

    // Hero - Desktop
    #hero {
        margin: 0 5.5% 90px;
        &__heading {
            font-size: 2.5rem;
        }
        &__p {
            font-size: 1.0625rem;
            letter-spacing: 0.53px;
            margin-top: 0;
        }

        form {
            grid-template-columns: 1.2fr 1fr;
            gap: 5px;
            input[type="email"] {
                padding-right: 0;
                width: 100%;
            }

            .btn {
                margin: 0;
                margin-right: 30px;
                justify-self: end;
            }
        }
    }

    // Section-1 - Desktop
    .section-1 {
        padding: 0 5.5% 80px;
        row-gap: 16px;
        grid-template-columns: 1fr 1fr;

        &__illustration {
            justify-self: end;
        }

        &__heading {
            font-size: 2.5rem;
            line-height: 47px;
            margin-bottom: 18px;
        }

        &__p {
            width: 90%;
            font-size: 1rem;
        }

        &__link {
            width: 30%;
            font-size: 1rem;

            img {
                top: 4px;
                left: 4px;
            }
        }

        &__testimonial {
            .section-1__p {
                font-size: 13px;
                line-height: 23px;
                letter-spacing: 0.5px;
            }

            .section-1__user {
                width: 50%; 

                .section-1__name {
                    font-size: 0.6875rem;
                }

                .section-1__profission {
                    font-size: 8px;
                    line-height: 15px;
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    // Section-2 - Desktop
    .section-2 {
        padding: 3.8% 8%;
        column-gap: 250px;

        form {
            max-width: 30rem;
        }
    }

    // Footer - Desktop
    footer {
        padding-left: 5.5%;
        padding-right: 5.5%;

        a {
            font-size: 1rem;
        }

        .links {
            text-align: left;
        }

        .social-media {
            justify-content: space-between;
            justify-self: center;
            width: 40%;

            a {
                i {
                    width: 1rem;
                    padding: 8px;
                }
            }
        }
    }
}